<template>
  <div>
    <v-card>
      <v-img :src="githubItem.owner.avatar_url" aspect-ratio="1.5"></v-img>

      <v-card-title primary-title>
        <div class="header">
          <h3 class="headline mb-2">{{githubItem.name}}</h3>
          <v-icon small>fas fa-laptop-code</v-icon> <span id="language">{{githubItem.language ? githubItem.language :
            'N/A'}}</span>
        </div>
      </v-card-title>
      <hr>
      <v-responsive :aspect-ratio="3">
        <v-card-text>
          {{githubItem.description}}
        </v-card-text>
      </v-responsive>

      <v-card-actions>
        <v-btn :href="githubItem.html_url" target="_blank" flat color="orange">
          <v-icon left>fab fa-github</v-icon>Repo
        </v-btn>
        <v-spacer></v-spacer>
        <v-icon small color="yellow darken-2" class="mr-1">fas fa-star</v-icon>
        {{githubItem.stargazers_count}}
      </v-card-actions>

    </v-card>
  </div>
</template>
<script>
  export default {
    props: ['githubItem'],
    data() {
      return {
        // item: git
      }
    }
  }
</script>
<style scoped>
  .header h3 {
    color: orange;
    font-weight: 600;
  }

  .header .v-icon {
    /* color: #9e9e9e; */
  }

  .v-card {
    background-color: #e1e3e8;
  }

  #language {
    margin-left: 10px;
    /* color: #9e9e9e; */
  }
</style>