<template>
  <v-container fluid grid-list-lg fill-height>
    <v-flex>
      <app-loading v-if="loading"></app-loading>
    </v-flex>
    <v-layout row wrap v-if="!loading">
      <v-flex v-for="(githubItem, key) in gitHubItems" :key="key" xs12 sm6 md4 lg3>
        <app-github-item :githubItem="githubItem"></app-github-item>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  /* eslint-disable */
  import GithubItem from './GithubItem.vue';
  export default {
    data() {
      return {
        gitHubItems: [],
        loading: true
      }
    },
    components: {
      appGithubItem: GithubItem
    },
    created() {
      // load the list of top github repos
      let url = 'https://api.github.com/search/repositories?q=created:%3E2017-01-01&stars:%3E1&s=stars';
      this.$http.get(url).then((res) => {
        // debugger;
        if (res.status === 200) {
          let size = 10;
          // save the top repos to the array
          this.gitHubItems = res.body.items.slice(0, size);
          console.log(this.gitHubItems);
          this.loading = false;
        }
      }, (err) => {
        this.loading = false;
      });
    },
  }
</script>
<style>
</style>