<template>
  <!-- <v-container fluid fill-height>
    <v-flex>
      <app-loading v-if="loading"></app-loading>
      <app-github-list v-if="!loading" :githubItems="gitHubItems"></app-github-list>
    </v-flex>
  </v-container> -->
  <div id="home">
    <!-- <v-layout column> -->
    <v-toolbar fixed app color="orange">
      <v-toolbar-title id="title">Top 10 Github Repos</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn @click="gotoTable" icon flat>
          <v-icon>border_all</v-icon>
        </v-btn>
        <v-btn @click="gotoHome" icon flat>
          <v-icon>home</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- <v-container fill-height> -->
    <router-view />
    <!-- </v-container> -->

    <!-- <v-footer dark height="auto">
        <v-card class="flex" flat tile>
          <v-card-title class="grey darken-3 justify-center">
            <span class="subheading"> &copy;{{date.getFullYear()}} — <strong>I-Yang Liao</strong></span>
          </v-card-title>
        </v-card>
      </v-footer>
    </v-layout> -->


  </div>

</template>
<script>
  /* eslint-disable */
  export default {
    data() {
      return {
        date: new Date()
      }
    },
    methods: {
      gotoTable: function () {
        this.$router.push({
          name: 'table'
        });
      },
      gotoHome: function () {
        this.$router.push({
          name: 'cards'
        });
      }
    },
    created() {
      // created DOM has not been mounted
      this.gotoHome();
    }
  }
</script>
<style>
  #home {
    height: 100%;
  }
</style>