<template>
  <div>
    <v-progress-circular :size="50" indeterminate color="orange"></v-progress-circular>
  </div>
</template>
<style scoped>
  div {
    text-align: center;
    /* height: 100%; */
  }
</style>