<template>
  <v-container fluid fill-height>
    <v-flex>
      <app-loading v-if="loading"></app-loading>
    </v-flex>
    <div v-if="!loading">
      <table>
        <thead>
          <tr>
            <th>Repo Avatar</th>
            <th>Repo Name</th>
            <th>Repo Desc</th>
            <th>HTML URL</th>
            <th>Language</th>
            <th>Stars</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(gitHubItem, index) in gitHubItems" :key="index">
            <td><img :src="gitHubItem.owner.avatar_url" alt=""></td>
            <td>{{gitHubItem.name}}</td>
            <td>{{gitHubItem.description}}</td>
            <td> <a href="gitHubItem.html_url">{{gitHubItem.html_url}}</a></td>
            <td>{{gitHubItem.language ? gitHubItem.language : 'N/A'}}</td>
            <td>{{gitHubItem.stargazers_count}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </v-container>
</template>
<script>
  /* eslint-disable */
  export default {
    data() {
      return {
        gitHubItems: [],
        loading: true
      }
    },
    created() {
      // load the list of top github repos
      let url = 'https://api.github.com/search/repositories?q=created:%3E2017-01-01&stars:%3E1&s=stars';
      this.$http.get(url).then((res) => {
        // debugger;
        if (res.status === 200) {
          let size = 10;
          // save the top repos to the array
          this.gitHubItems = res.body.items.slice(0, size);
          console.log(this.gitHubItems);
          this.loading = false;
        }
      }, (err) => {
        console.log(err);
      });
    }
  }
</script>
<style scoped>
  table,
  th,
  td {
    border: 1px solid black;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  td img {
    width: 60px;
    height: 60px;
  }
</style>