<template>
  <div id="app">
    <v-app>
      <v-content>
        <!-- router view -->
        <router-view />
      </v-content>
    </v-app>
  </div>
</template>
<script>
  export default {
    data() {
      return {}
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center;
    color: #2c3e50;
    margin-top: 60px; */
  }
</style>